<div class="sidenav">
  <div class="login-main-text">
    <h2>Welcome!</h2>
    <p>Login from here to access the application.</p>
  </div>
</div>
<div class="main">
  <div class="col-md-6 col-sm-12">
    <div class="login-form">
      <!-- Message for success -->
      <div *ngIf="successShown" class="alert alert-success">
        Login successful!
      </div>

      <!-- Error message for failure -->
      <div *ngIf="errorShown" class="alert alert-danger">
        Invalid email or password!
      </div>

      <form>
        <div class="form-group">
          <label>Email</label>
          <input class="form-control" type="email" name="email" [(ngModel)]="email" placeholder="Enter your email"
            required>
          <div *ngIf="isEmailError" class="alert alert-danger">
            Invalid email!
          </div>
        </div>
        <div class="form-group">
          <label>Password</label>
          <input class="form-control" type="password" name="password" [(ngModel)]="password"
            placeholder="Enter your password" required />
        </div>
        <button type="submit" class="btn btn-black" (click)="onClickLogin()">Login</button>

        <a href="/" class="btn btn-black">Back</a>
      </form>
      <hr>
      <div class="account">
        <a href="/register">Need an account?</a>
        <br>
        <a href="/recover">Forgot your password?</a>
      </div>
      <br><br>

    </div>
  </div>
</div>