<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <span class="navbar-brand mb-0 h1">
       <i class="fas fa-video"></i>
       Interview Simulator 
    </span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="/interview">Interview</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/feedback">Feedback</a>
        </li>
      </ul>

      <span class="navbar-text">
        <i class="fas fa-user"></i> 
        {{ currentUsername }}
      </span>
    </div>

    <form class="form-inline">
        <button class="btn btn-sm btn-outline-dark" (click)="logout()">Logout</button>
    </form>
</nav>

<div class="d-md-flex h-md-100 ">
    <!-- Quiz Half -->

    <!-- Start interview-->
    <div id="startInterview" class="col-md-6 p-0 h-md-100 first-half" style="display: block; text-align: center;">
        <h2 style="color: white; margin-top: 250px;">Ready to take the challange?</h2>
        <button class="btn btn-outline-white" (click)="startInterview()" style="margin-top: 100px;">Start the interview</button>
    </div>

    <!-- End interview -->
    <div id="endInterview" class="col-md-6 p-0 h-md-100 first-half" style="display: none; text-align: center;">
        <h2 style="color: white; margin-top: 250px;">Quiz ended! Check your results below.</h2>
        <a href="/feedback" class="btn btn-outline-white" style="margin-top: 100px;">
            Feedback
        </a>
    </div>

    <!-- Interview -->
    <div id="interviewContent" class="col-md-6 p-0 h-md-100 first-half" style="display: none;">
        <div class="d-md-flex h-100 p-5">
            <div class="text-white pt-5 pb-5">
                <ul class="questions">
                    <li>
                        {{ question }}
                    </li>
                </ul>

                <hr *ngIf="!quizEnded" class="hline">

                <footer *ngIf="!quizEnded">
                    <p id="progress">Question {{ questionIndex + 1 }}</p>
                </footer>

                <h5 *ngIf="!quizEnded" class="description">
                    You will have 30 seconds to discuss the topic mentioned above.
                </h5>

                <div class="container">
                    <div class="row">
                        <div class="col">
                            <!-- Timer -->
                            <app-timer *ngIf="!quizEnded"></app-timer>
                        </div>
                        <div class="col button-controls">
                            <button *ngIf="!quizEnded" id="processVideoButton" type="button"
                                class="btn btn-outline-green" (click)="processVideo()">
                                Start recording
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Video Half -->
    <div class="col-md-6 p-0 h-md-100 second-half">
        <div class="d-md-flex align-items-center h-md-100 p-5">
            <!-- Video feed -->
            <div class="content">
                <video id="videoInput" playsinline autoplay></video>
            </div>

            <canvas id="canvasOverlay" class="canvas-position" width="640" height="480"></canvas>
        </div>
    </div>
</div>

<script src="src/assets/utils.js"></script>
<script src="src/assets/opencv.js"></script>