div {
  overflow: hidden;
}

.main {
  font-family: "Raleway", sans-serif;
}

.main-title {
  font-size: 4em;
}

.description {
  padding-top: 50px;
  padding-bottom: 50px;
  color: gray;
}

.questions {
  list-style: none;
  font-size: 2rem;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 0px;
  height: 200px;
}

@media (min-width: 768px) {
  .h-md-100 {
    height: 91.1vh;
  }
}

.first-half {
  background-color: black;
}

.btn {
  margin: 10px;
}

.btn-outline-black {
  border: 2px solid #000;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  border-radius: 0px;
  color: #000;
}

.btn-outline-black:hover {
  color: #fff;
  background: #000;
  border-color: #000;
}

.btn.btn-outline-green {
  border-width: 2px;
  border-color: #fff;
  color: #fff;
  border-radius: 0px;
}

.btn.btn-outline-green:hover {
  background: rgb(65, 184, 131);
  color: white;
  border-width: 2px;
  border-color: rgb(65, 184, 131);
}


.btn-outline-black:hover {
  color: #fff;
  background: #000;
  border-color: #000;
}

.btn.btn-outline-white {
  border: 2px solid white;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  border-radius: 0px;
  padding: 10px 20px;
  color: white;
}

.btn.btn-outline-white:hover {
  color: black;
  background: white;
  border-color: white;
}

.btn:hover {
  text-decoration: none;
}

.button-controls {
  padding-top: 30px;
  padding-left: 300px;
  /* padding-left: 380px;
  position: fixed; */
}

.hline {
  border-color: white;
}

.canvas-position {
  position: absolute;
}
