<!-- HEADER -->
<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent"
      aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#main-title-section">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#about-section">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#services-section">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contact-section">Contact</a>
        </li>
      </ul>
      <a *ngIf="!logInStatus" href="/login" class="btn btn-outline-white">Login</a>
      <a *ngIf="logInStatus" href="/">
        <button class="btn btn-outline-white" (click)="logout()">Logout</button>
      </a>
    </div>
  </nav>
</header>

<!-- MAIN TITLE SECTION -->
<div id="main-title-section" class="slider-item overlay" data-stellar-background-ratio="0.5"
  style="background-image: url('../../../assets/images/home2.jpg');">
  <div class="container" style="text-align: center;">
    <h1 class="slider-text">Interview Simulator</h1>
    <a href="/interview" class="btn btn-outline-white" style="margin-top: 50px; margin-left: 100px;">Get Started</a>
  </div>
</div>

<!-- ABOUT SECTION -->
<div id="about-section" class="section" style="text-align: justify;">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 mr-auto mb-5">
        <span class="d-block text-uppercase text-secondary">How does it work?</span>
        <span class="divider my-4"></span>
        <hr>
        <h2 class="mb-4 section-title">An interview simulator based on facial emotion recognition</h2>
        <br>
        <p>
          Our application is capable of recognizing up to six facial emotions - such as happiness, saddness,
          surprise, anger, fear and disgust - using Computer Vision algorithms and a
          Convolutional Neural Network model.
        </p>
        <br><br>
        <!-- Button trigger modal -->
        <p><a href="#" class="btn btn-outline-black" data-toggle="modal" data-target="#learnMoreModal">Learn More</a>
        </p>

        <!-- Learn More Modal -->
        <div class="modal fade" id="learnMoreModal" tabindex="-1" role="dialog" aria-labelledby="learnMoreModalLabel"
          aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="learnMoreModalLabel">FACIAL EMOTION RECOGNITION</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="container-fluid">
                  <div class="row">
                    <div class="col">
                      The ability to recognize and understand emotions brings artificial intelligence systems to another
                      level.
                      <br><br>
                      We use Computer Vision algorithms for face detection and Convolutional Neural Networks for facial
                      emotion
                      recognition.
                      <br><br>
                      CNNs are some special deep learning networks that perform very well in tasks like object
                      detection or image classification.
                      <br><br>
                      With the power of these networks, Affective Computing tries to bring the intercation with a
                      computer
                      closer to a real human interaction.
                    </div>
                    <div class="col" style="text-align: center;">
                      <img src="../../../assets/images/neural.PNG" width="180x" height="380px">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6" style="text-align: right;">
        <img src="../../../assets/images/mais2.jpg" alt="Image" class="img-fluid" width="350px" height="525px">
      </div>
    </div>
  </div>
</div>

<!-- SERVICES SECTION -->
<div id="services-section" class="section services-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 mr-auto mb-3" style="text-align: justify;">
        <span class="d-block text-uppercase text-secondary">Services</span>
        <span class="divider my-4"></span>
        <hr>
        <h2 class="mb-4 section-title">Online video interview</h2>
        <br>
        <p>
          Use the video interview simulator and get real-time feedback based on your facial
          emotions.
          This will help you evaluate your cofidence and get you prepared for a real job interview.
        </p>
        <br>
        <!-- Button trigger modal -->
        <p><a href="#" class="btn btn-outline-black" data-toggle="modal" data-target="#exploreTopicsModal">Explore
            topics</a>
        </p>

        <!-- Explore More Modal -->
        <div class="modal fade" id="exploreTopicsModal" tabindex="-1" role="dialog"
          aria-labelledby="exploreTopicsModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content" style="font-size: large;">
              <div class="modal-header">
                <h5 class="modal-title" id="exploreTopicsModalLabel">TOPICS</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="row">
                  <div class="col">
                    <h6>Data Types</h6>
                    <i class="fas fa-font"></i> Value Types
                    <br>
                    <i class="fas fa-asterisk"></i> Reference Types
                    <br>
                    <i class="fas fa-sort-alpha-up"></i> Strings
                  </div>
                  <div class="col">
                    <h6>Data Structures</h6>
                    <i class="fas fa-sort-numeric-up-alt"></i> Arrays
                    <br>
                    <i class="fas fa-link"></i> Linked lists
                    <br>
                    <i class="fas fa-project-diagram"></i> Trees
                  </div>
                  <div class="col">
                    <h6>Design Patterns</h6>
                    <i class="fas fa-drafting-compass"></i> Design
                    <br>
                    <i class="fas fa-brain"></i> Logic
                    <br>
                    <i class="fas fa-lightbulb"></i> Creativity
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="row mt-5">
          <div class="col-lg-6 col-md-6 mb-4">
            <div class="service">
              <i class="far fa-question-circle"></i>
              <h3>Quizzes</h3>
              <p>Try out different Quizzes in order to improve your responses.</p>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 mb-4">
            <div class="service">
              <i class="fas fa-chart-line"></i>
              <h3>Top Topics</h3>
              <p>Challange yourself with questions from the top topics at the moment.</p>
            </div>
          </div>

          <div class="col-lg-6 col-md-6 mb-4">
            <div class="service">
              <i class="far fa-building"></i>
              <h3>Job Preparation</h3>
              <p>Get prepared for a real job interview.</p>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 mb-4">
            <div class="service">
              <i class="far fa-comments"></i>
              <h3>Feedback</h3>
              <p>Get real time feedback on your facial emotions responses.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- GET STARTED -->
<div class="section">
  <div class="container text-center">
    <div class="row justify-content-center">
      <div class="col-lg-7">
        <h3>Want to try the interview simulator?</h3>
        <br>
        <p>
          Take the challange and answer a few questions!
        </p>
        <br>
        <p><a href="/interview" class="btn btn-outline-black">Get Started</a></p>
      </div>
    </div>
  </div>
</div>

<!-- FOOTER -->
<footer id="contact-section" class="site-footer" role="contentinfo">
  <div class="container">
    <h3>Share with the world!</h3>
    <br>
    <p>
      Tell your friends about the interview simulator and compare your results!
    </p>
    <br>
    <div class="media-icons">
      <a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook"></i></a>
      <a href="https://twitter.com/explore" target="_blank"><i class="fab fa-twitter"></i></a>
      <a href="https://www.linkedin.com/" target="_blank"><i class="fab fa-linkedin"></i></a>
      <a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram-square"></i></a>
    </div>
  </div>
</footer>