.text-lowercase {
  text-transform: lowercase !important;
}

.text-uppercase {
  text-transform: uppercase !important;
}

.text-capitalize {
  text-transform: capitalize !important;
}

.font-weight-light {
  font-weight: 300 !important;
}

.font-weight-normal {
  font-weight: 400 !important;
}

.font-weight-bold {
  font-weight: 700 !important;
}

.font-italic {
  font-style: italic !important;
}

.text-white {
  color: #fff !important;
}

.text-black {
  color: #000 !important;
}

.text-primary {
  color: #20c997 !important;
}

.btn-outline-black {
  border: 2px solid #000;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  border-radius: 0px;
  padding: 10px 20px;
  color: #000;
}

.btn-outline-black:hover {
  color: #fff;
  background: #000;
  border-color: #000;
}

.btn.btn-outline-white {
  border: 2px solid white;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  border-radius: 0px;
  padding: 10px 20px;
  color: white;
}

.btn.btn-outline-white:hover {
  color: black;
  background: white;
  border-color: white;
}

header {
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  z-index: 5;
  background: transparent !important;
}

header .navbar {
  padding-top: 0;
  padding-bottom: 0;
  background: none !important;
  position: relative;
  font-family: "Raleway", sans-serif;
}

header .navbar .nav-link {
  padding: 1.7rem 1rem !important;
  outline: none !important;
  font-size: 1.25rem;
  font-weight: 100px;
  color: #fff;
  letter-spacing: 0.5rem;
}

#navbarContent {
  padding-left: 460px;
}

.nav-item a:hover {
  color: #000 !important;
  text-decoration: none;
}

.slider-item {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  height: calc(100vh);
  min-height: 700px;
  position: relative;
}

/* .slider-item:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000;
  opacity: .1;
} */

.slider-text {
  font-size: 10rem;
  text-align: center;
  color: white;
  padding-top: 175px;
}

.section {
  padding: 5em 0;
}

.services-section {
  background-color: lightgray;
}

.service i {
  color: aqua;
}

.site-footer {
  padding: 5em 0;
  background: #333;
  text-align: center;
}

.site-footer p {
  color: lightgray;
}

.site-footer a {
  color: aqua;
  text-decoration: underline;
}

.site-footer a:hover {
  color: #fff;
  text-decoration: none;
}

.site-footer h3 {
  font-size: 1rem;
  letter-spacing: .1em;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
}

.media-icons {
  font-size: 2rem;
}

.media-icons .fab {
  padding: 10px;
}
