<div style="text-align: center; margin-top: 50px;">
    <h1>Oops! Are you lost?</h1>
    <img src="https://i.imgur.com/qhMbkGi.gif">
    <div style="margin-top: 50px;">
        <a href="/" class="btn btn-outline-black">Back home</a>
    </div>
</div>