.btn-outline-black {
    border: 2px solid #000;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    border-radius: 0px;
    padding: 10px 20px;
    color: #000;
  }
  
  .btn-outline-black:hover {
    color: #fff;
    background: #000;
    border-color: #000;
  }