<div class="sidenav">
  <div class="recover-main-text">
    <h2>Hi there!</h2>
    <p>Reset your password from here so you can access the application.</p>
  </div>
</div>
<div class="main">
  <div class="col-md-6 col-sm-12">
    <div class="recover-form">
      <!-- Message for success -->
      <div *ngIf="successShown" class="alert alert-success">
        Password updated successfully!
      </div>

      <!-- Error message for failure -->
      <div *ngIf="errorShown" class="alert alert-danger">
        Password recovery failed! Please check your credentials.
      </div>
      <form>
        <!-- Email -->
        <div class="form-group">
          <label>Email</label>
          <input class="form-control" type="email" name="email" [(ngModel)]="email" placeholder="Enter your email"
            required>

          <div *ngIf="isEmailError" class="alert alert-danger">
            Invalid email!
          </div>
        </div>
        <!-- Security question -->
        <div class="form-group">
          <label>Security question</label>
          <select name="dropdown " class="form-control" [(ngModel)]="securityQuestion">
            <option value="undefined" disabled selected>Select a question...</option>
            <option *ngFor="let question of questionService.securityQuestions" [ngValue]="question">
              {{ question.question }}
            </option>
          </select>
        </div>
        <div class="form-group">
          <label class="label">Your answer</label>
          <input class="form-control" type="securityQuestionAnswer" name="securityQuestionAnswer"
            [(ngModel)]="securityQuestionAnswer" placeholder="Enter your answer" required>
        </div>

        <!-- New password -->
        <div class="form-group">
          <label>Your new password</label>
          <input class="form-control" type="password" name="newPassword" [(ngModel)]="newPassword"
            placeholder="Enter your new password" required />
        </div>
        <button type="submit" class="btn btn-black" (click)="onClickRecover()">Recover</button>
        <a href="/login" class="btn btn-black">Back</a>
      </form>
      <br><br>
    </div>
  </div>
</div>
