<div class="sidenav">
  <div class="register-main-text">
    <h2>Welcome!</h2>
    <p>Register from here to access the application.</p>
  </div>
</div>
<div class="main">
  <div class="col-md-6 col-sm-12">
    <div class="register-form">
      <!-- Message for success -->
      <div *ngIf="successShown" class="alert alert-success">
        Register successful!
      </div>

      <!-- Error message for failure -->
      <div *ngIf="errorShown" class="alert alert-danger">
        Register failed! Please check your credentials.
      </div>
      <form>
        <!-- Email -->
        <div class="form-group">
          <label>Email</label>
          <input class="form-control" type="email" name="email" [(ngModel)]="email" placeholder="Enter your email"
            required>

          <div *ngIf="isEmailError" class="alert alert-danger">
            Invalid email!
          </div>
        </div>
        <!-- Username -->
        <div class="form-group">
          <label>Username</label>
          <input class="form-control" type="username" name="username" [(ngModel)]="username"
            placeholder="Enter your username" required />
        </div>
        <!-- Password -->
        <div class="form-group">
          <label>Password</label>
          <input class="form-control" type="password" name="password" [(ngModel)]="password"
            placeholder="Enter your password" required />
        </div>
        <!-- Security question -->
        <div class="form-group">
          <label>Security question</label>
          <select name="dropdown " class="form-control" [(ngModel)]="securityQuestion">
            <option value="undefined" disabled selected>Select a question...</option>
            <option *ngFor="let question of questionService.securityQuestions" [ngValue]="question">
              {{ question.question }}
            </option>
          </select>
        </div>
        <div class="form-group">
          <label class="label">Your answer</label>
          <input class="form-control" type="securityQuestionAnswer" name="securityQuestionAnswer"
            [(ngModel)]="securityQuestionAnswer" placeholder="Enter your answer" required>
        </div>
        <button type="submit" class="btn btn-black" (click)="onClickRegister()">Register</button>
        <a href="/login" class="btn btn-black">Back</a>
      </form>
      <br><br>
    </div>
  </div>
</div>
