<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <span class="navbar-brand mb-0 h1">
        <i class="fas fa-video"></i>
        Interview Simulator
    </span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/interview">Interview</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" id="interview-tab" data-toggle="tab" href="#interview" role="tab"
                    aria-controls="interview" aria-selected="true">Interview Feedback</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="history-tab" data-toggle="tab" href="#history" role="tab"
                    aria-controls="history" aria-selected="false">Interviews History</a>
            </li>
        </ul>
    </div>

    <span class="navbar-text">
        <i class="fas fa-user"></i>
        {{ currentUsername }}
    </span>

    <form class="form-inline">
        <button class="btn btn-sm btn-outline-dark" (click)="logout()">Logout</button>
    </form>
</nav>

<div *ngIf="!error" class="tab-content" id="interviewTabContent">
    <div class="tab-pane fade show active" id="interview" role="tabpanel" aria-labelledby="interview-tab">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Question</th>
                    <th scope="col">Anger</th>
                    <th scope="col">Disgust</th>
                    <th scope="col">Fear</th>
                    <th scope="col">Happiness</th>
                    <th scope="col">Sadness</th>
                    <th scope="col">Surprise</th>
                    <th scope="col">Neutral</th>
                </tr>
            </thead>
            <tbody id="currentInterviewTableBody"></tbody>
        </table>

        <br><br>
        
        <div class="retry">
            <h3>
                Congratulations! This is how you reacted during the interview.
            </h3>
            <br>
            <h4 style="text-align: center;">
                Try again to improve yourself! 
                <i class="fas fa-laugh-wink"></i>
            </h4>
            <br>
            <a href="/interview">
                <i class="fas fa-redo"></i>
                <br>
                RETRY
            </a>
        </div>
    </div>
    <div *ngIf="!error" class="tab-pane fade" id="history" role="tabpanel" aria-labelledby="history-tab">
        <br>
        <h3 style="text-align: center;">
            Check out your past experiences with our Interview Simulator!
        </h3>
        <br>
        <h5 style="text-align: center;">
            Just select the day you're intrested in and see your feedback. 
            Compare your results and find out how much you evolved.
            <br>
        </h5>
        <br>
        <h1 style="text-align: center; color: aqua;">
            <i class="fas fa-arrow-down"></i>
        </h1>
        <br>
    </div>
</div>

<div *ngIf="error" style="text-align: center;">
    <h5>
        We're having some trouble displaying the feedback for the interview! <i class="far fa-sad-cry"></i> 
        <br>
        Please try again later.
    </h5>
</div>

<br><br>

<!-- FOOTER -->
<footer id="contact-section" class="site-footer" role="contentinfo">
    <div class="container">
      <h3>Share with the world!</h3>
      <br>
      <p>
        Tell your friends about the interview simulator and compare your results!
      </p>
      <br>
      <div class="media-icons">
        <a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook"></i></a>
        <a href="https://twitter.com/explore" target="_blank"><i class="fab fa-twitter"></i></a>
        <a href="https://www.linkedin.com/" target="_blank"><i class="fab fa-linkedin"></i></a>
        <a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram-square"></i></a>
      </div>
    </div>
</footer>