a {
  color: #000;
}

a:hover {
  text-decoration: none;
  color: darkgray;
}


.btn {
  margin: 10px;
}

.btn-outline-black {
  border: 2px solid #000;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  border-radius: 0px;

  color: #000;
}

.btn-outline-black:hover {
  color: #fff;
  background: #000;
  border-color: #000;
}

.retry {
  text-align: center;
  font-size: larger;
  font-weight: bolder;
}


.site-footer {
  padding: 6em 0;
  background: #333;
  text-align: center;
}

.site-footer p {
  color: lightgray;
}

.site-footer a {
  color: aqua;
  text-decoration: underline;
}

.site-footer a:hover {
  color: #fff;
  text-decoration: none;
}

.site-footer h3 {
  font-size: 1rem;
  letter-spacing: .1em;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
}

.media-icons {
  font-size: 2rem;
}

.media-icons .fab {
  padding: 10px;
}
